body {
  color: black;
  background-color: #f5fff5;
}

h1 {
  color: white;
  background-color: #008CBA;
  margin: inherit;
  border-style: hidden;
  border-color: blue;
  padding: 0px 25px 25px 0px;
  text-align: left;
  font-family: Georgia, serif;
  font-size: 2.00em;
}

h2 {
  color: red;
  background-color: grey;
  text-align: left;
  font-family: Georgia, serif;
  font-size: 1.9em
}


p {
  color: black;
  background-color: inherit;
  border-style: hidden;
  width: inherit;
  height: 5%;
  padding: 5px 50px;
  text-align: justify;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 1.0em;
}

.button {
  color: white;
  background-color: #008CBA;
  margin-left: 50%;
  margin-top: 20px;
  padding: 10px;
  font-family: "Arial Black", Gadget, sans-serif;
  cursor: pointer;
}
.b2{
  color: white;
  background-color: #008CBA;
  padding: 5px;
  font-family: "Arial Black", Gadget, sans-serif;
  cursor: pointer;
}
.b3{
  color: white;
  background-color: #008CBA;
}
.disabled{
  opacity: 0.6;
  cursor: not-allowed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #008CBA;
}
li{
  float: left;
}
li a{
  display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #ADD8E6;
}

.active {
    background-color: #A9A9A9;
}
#snackbar{
  visibility: hidden;
  background-color: #333;
  position: fixed;
  text-align: center;
}
#snackbar.show{
  visibility: visible;
}
