body {
  color: black;
  background-color: #f5fff5;
  background-color: white;
}

h1 {
  color: white;
  background-color: #0066ff;
  margin: inherit;
  border-style: hidden;
  background-color: blue;
  border-style: hidden;
  border-color: blue;
  padding: 0px 50px 50px 0px;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.50em;
}

h2 {
  color: red;
  background-color: black;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.9em
}


p {
  color: black;
  background-color: inherit;
  border-style: hidden;
  margin-left: 50%;
  margin-top: 5%;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
}

.button {
  color: white;
  background-color: #008CBA;
  margin-left: 50%;
  margin-top: 20px;
  cursor: pointer;
}
