body {
  color: black;
  background-color: white;
}

h1 {
  color: white;
  background-color: blue;
  border-style: hidden;
  border-color: blue;
  padding: 0px 50px 25px 0px;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.50em;
}

h2 {
  color: red;
  background-color: inherit;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.9em
}


p {
  color: black;
  background-color: lightyellow;
  border-style: inset;
  border-color: white;
  width: inherit;
  margin: 25 px;
  padding: 25 px;
  outline-style: double;
  outline-color: red;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
}
